* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  scroll-behavior: smooth
}
.hidden {
  display: none;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  overflow-x: hidden;
}

/* footer  */
footer .sm\:flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 20px;
}

footer .flex a {
  color: #a0aec0;
  text-decoration: none;
  margin: 0 0.5rem;
}

footer .flex a:hover {
  color: #f7fafc;
}


/* Navigation Bar Start */

.relative:hover .absolute,
.relative:hover .group-hover {
  display: block;
}


header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 249px;
  height : 85px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: rgb(157, 157, 157);
  padding: 12px 0;
  display: inline-block;
  transition: all ease 0.3s;
  font-size: 18px;
}

.nav-links li a:hover {
  color: white;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #111827; /* Tailwind's bg-gray-700 */
  min-width: 140px;
  z-index: 1;
  border-radius: 0.375rem; /* Tailwind's rounded-md */
  text-align: center;
  left: 50%; 
  transform: translateX(-50%);
}

.dropdown-content a:hover {
  color: white; /* Tailwind's bg-gray-600 */
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Target the anchor tags within the ul that's within the dropdown div */
div.z-10 ul li a {
  display: block;
  width: auto;
  padding: 10px 8px;
}

/* Navigation Bar End */

/* -----------------index.html start------------------- */


/* ---section 1 Main page Start---*/
.bg-center.bg-no-repeat.bg-gray-500.bg-blend-multiply {
  background-size: cover;
  background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg");
  max-height: 655px;
}

/* -----------------index.html end------------------- */

/* ---skills Page Start--- */
.skills-h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.skills-h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
}



.skills-background-row {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://abmagazine.accaglobal.com/content/abmagazine/global/articles/2021/aug/careers/learning-to-code/_jcr_content/middle-content/container/image.desktop.jpeg/1628246461317/09aug-g-car-coding-uk-g1224500457-1024x683-articles.jpeg");
  background-size: cover;
  height: 650px;
  position: relative;
  overflow: hidden;
}

.skills-background-row::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
}

.skills-background-row * {
  position: relative;
  z-index: 3;
}

.skills-background-col h2 {
  flex-direction: column;
  color: white;
  font-size: 48px;
}

/* Programming Proficiency Chart */
canvas {
  width: 80%;
  margin: auto;
  background-color: rgb(44, 47, 74);
}

/* Adjusted Canvas Styling for Smaller Screens */
@media screen and (max-width: 768px) {
  canvas {
    display: block;
    margin: 2rem auto;
    max-width: 100%; /* Make the graph take full width */
    background-color: rgb(44, 47, 74);
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow */
  }
}

/* Skills Section */
.skills-section {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
  padding: 0 1rem;
}

.skills-column {
  flex: 1 1 300px; /* Columns are flexible with a minimum width of 300px */
  max-width: 400px;
  padding: 1rem;
}

.skills-column h3 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: underline;
}

.skills-column ul {
  list-style: none;
  padding: 0;
}

.skills-column ul li {
  padding: 0.5rem 0;
  text-align: center;
  color: #A0AEC0; /* Tailwind's text-gray-400 */
}

/* Non-Technical Skills Section */
.skills-column:last-child {
  margin-bottom: 2rem;
}

/* --- title card shadow End ---*/

/* ---projects Page Start--- */

.projects-background-row {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://codexpro.ai/blog/wp-content/uploads/2024/03/Impact-of-Code-Assessment-Platforms_-Enhancing-Technical-Skills-768x506.jpg");
  background-size: cover;
  height: 650px;
  position: relative;
  overflow: hidden;
}

.projects-background-row::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
}

.projects-h1 {
  font-size: 1.5em;
  margin: 20px 0;
  text-align: center;

}

.projects-background-row * {
  position: relative;
  z-index: 3;
}

.projects-background-col h2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 30px 30px 0px 30px;
  font-size: 48px;
  max-width: 100%;
}



.image-proj {
  text-align: center;
  position: relative;
  width: 350px;
  height: 300px;
}

.image-proj img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-centering {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.text-proj {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(90%);
  width: 100%;
  height: 50%;
  color: white;
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-proj:hover img {
  opacity: 0.3;
}

.image-proj:hover .text-proj {
  opacity: 1;
}



/* --- projects-container --- */
#fh5co-portfolio {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

#fh5co-portfolio p {
  line-height: 25px;
}

@media screen and (max-width: 1200px) {
  #fh5co-portfolio {
    padding-left: 0;
    padding-right: 0
  }
}

#fh5co-portfolio .fh5co-portfolio-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#fh5co-portfolio .fh5co-portfolio-description {
  flex: 2;
  padding: 2rem;
  line-height: 1.6;
}

#fh5co-portfolio .fh5co-portfolio-item .fh5co-portfolio-description,
#fh5co-portfolio .fh5co-portfolio-item .fh5co-portfolio-figure {
  width: 50%
}

#fh5co-portfolio .fh5co-portfolio-item .fh5co-portfolio-figure {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#fh5co-portfolio .fh5co-portfolio-item .fh5co-portfolio-description {
  padding: 4em;
  line-height: 25px
}

@media screen and (max-width: 1200px) {
  #fh5co-portfolio .fh5co-portfolio-item .fh5co-portfolio-description {
    padding: 2em
  }
}

#fh5co-portfolio .fh5co-portfolio-item .fh5co-portfolio-description h2 {
  font-family: "Roboto Slab", arial, sans-serif;
  font-size: 30px;
  line-height: 34px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  #fh5co-portfolio {
    margin-bottom: 4em
  }
}

.clearfix {
  clear: both;
}

/* --- End projects-Container --- */
/* ---projects Page End--- */


/* about.html Page Start */
.about-background-row {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://i0.wp.com/www.alexkorbphd.com/wp-content/uploads/2020/12/Stars_abstract-5511271_1280-e1608228613511.jpg?fit=1280%2C572&ssl=1");
  background-size: cover;
  height: 650px;
  position: relative;
  overflow: hidden;
}

.about-background-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-background-col h2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 30px 30px 0px 30px;
  font-size: 48px;
  max-width: 100%;
}

.about-h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.about-h3 {
  display: block;
  font-size: 1em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.download {
    text-align: center;
    margin-top: 20px;
}
.download a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #2980b9;
    border-radius: 5px;
}
.download a:hover {
    background-color: #1a5a85;
}

.slider-container {
  position: relative;
  width: 20%;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.slider-images {
  display: none;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.prev,
.next {
  position: absolute;
  top: 50%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  font-size: 26px;
  transform: translateY(-50%);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}